@import "tailwindcss";

* {
  -webkit-user-select: none; /* For Safari */
  -ms-user-select: none; /* For Internet Explorer and Edge */
  user-select: none; /* Standard property for modern browsers */
}

@layer components {
    .toggle-change {
      @apply cursor-pointer
    }
}

@font-face {
  font-family: 'Product Sans';
  src: url('/fonts/ProductSans-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Product Sans';
  src: url('/fonts/ProductSans-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

html {
  scroll-behavior: smooth;
}

/* Project Card */
.projects ul {
  padding: 0;
}

.projects ul li {
  list-style: none;
  margin: 20px 0;
}

.project-card {
  display: flex;
  flex-direction: column;
  /* background-color: var(--color-slate-50); */
  /* border: 2px solid var(--color-slate-600); */
  border-radius: 24px;
  padding: 20px;
  box-shadow: 0px 0px 5px 1px var(--color-slate-900);
  transition: all 0.3s, box-shadow 0.2s ease;
}

.project-card:hover {
  transform: scale(103%);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.project-info a {
  font-size: 125%;
}

.project-info a:hover {
  font-size: 126%;
}

.thumbnail {
  margin-top: 10px;
}

.clickable {
  cursor: pointer;
  color: var(--color-blue-600);
  transition: all 200ms ease-in;
}

.clickable:hover {
  font-size: 101%;
  color: var(--color-amber-600);
  transition: all 200ms ease-out;
}

.stags {
  margin-top: 10px;
}

.stag {
  display: inline-block;
  background-color: var(--color-emerald-200);
  color: var(--color-emerald-800);
  font-size: 0.8em;
  padding: 2px 8px;
  border-radius: 5px;
  margin-right: 5px;
  transition: all 0.4s;
}

/* Modal */
.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  padding: 1rem;
}

.modal-underlay {
  position: absolute;
  inset: 0;
  background: rgba(15, 23, 42, 0.8); /* Use rgba for backdrop-filter to work */
  opacity: 1;
  z-index: 99;
  border: none;
  width: 100%;
  box-shadow: unset;
  backdrop-filter: blur(6px); /* Increased blur */
}

.modal-underlay:hover {
  transform: translate(0);
  box-shadow: unset;
}

.modal-content {
  position: relative;
  z-index: 1001;
  max-width: 800px;
  width: 85dvw;
  margin: 0 auto;
  max-height: 85dvh;
  border-radius: 40px;
  /* border: 2px solid var(--color-amber-500); */
  border: 2px solid var(--color-slate-600);
  box-shadow: 0 0 2rem var(--color-slate-600);
  background: var(--color-slate-900);
  padding: 20px;
  display: flex;
  flex-direction: column;
  /* align-items: center;
  justify-content: center; */
  gap: 1rem;
}

.experience-card {
  box-shadow: 4px 4px 2px 1px rgba(0, 0, 0, 0.3);
}